doctype html 
html 
  head 
    title SocialMiner 
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/index.css", rel="stylesheet")
  body
    div(class='flexbox-nav-bar')
    div(class='cloverhound-logo')
      img(src='/images/small-logo.png')
    div(class='flexbox-form-title')
      p(class='flexbox-form-item-title') Chat with an Agent 
    div#form
